/* ----- ESTILO GERAL ----- */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}

/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background-color: #1a1a1a;
    border-bottom: 2px solid #222;
    cursor: pointer;
}

.logo {
    width: 35px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #222;
    padding: 8px 12px;
    border-radius: 30px;
}

.search-box input {
    border: none;
    background: none;
    color: white;
    margin-left: 8px;
    outline: none;
}

/* ----- CONTAINER ----- */
.container {
    padding: 30px;
}

/* ----- GRID DE BLOCOS ----- */
.bloco-musical {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    padding: 0;
    list-style: none;
}

/* ----- CADA BLOCO COM IMAGEM ----- */
.bloco-musical li {
    position: relative;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

/* ----- EFEITO ESCURO GRADIENTE ----- */
.bloco-musical li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notification{
    text-align: center;
}

